.app_container{
  display: flex;
  justify-content: center;
}
.sideBar{
  min-height: 785px;
}
.header_footer{
  width: 100%;
}

.post-card{
  margin: 20px 50px;
}
.tag-hashtag{
  margin: 0px 2px;
}
.post-reaction{
  width: 100%;
}

.create_post{
  margin: 10%;
  width: 80%;
}

.spinner{
  margin: 10%;
  width: 5rem;
  height: 5rem;
  color: blue
}